
html, body{
    height: 98%;
    background-color: black;
    color:rgb(195, 196, 199);
}
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
}

#flip {
    font-size: 15vw;
    margin: auto;
    transition-duration: 1s;
}
#flip:hover {
	transform: rotateZ(180deg);
    transform-origin: center;
    transition-duration: 1s;
}

footer {
    font-size: 0.8rem;
    position: absolute;
    bottom: 0;
    width: 98%;
    text-align: center;
}
