
html, body{
    height: 100%;
}
body {
    font-size: 15vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
}

#flip {
    margin: auto;
    transition-duration: 1s;
}
#flip:hover {
	transform: rotateZ(180deg);
    transform-origin: center;
    transition-duration: 1s;
}

