
html, body{
    height: 100%;
}
body {
    display: flex;
    align-items: stretch;
}

.flip {
    margin: auto;
    height: 10%;
    width: 10%;
    text-align: center;
/*    transform: rotateZ(360deg); */
    transition-duration: 1s;    
}
.flip:hover {
		transform: rotateZ(180deg);
        transition-duration: 1s;
}

